#navDots		
{
	background-color:clear;
	position:fixed;
	z-index:1000;
	top:0px;
	right:0px;
	padding-top:0px;
}

.dotList
{
	list-style-type: none;
}

.dotImg{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
	background-image:url("../images/bluenav.png");
    display:block;
	width:30px;
    height:30px;
	border:0px;
	cursor:pointer;
}
.dotSectionTitle
{
	position:fixed; 
	top:23px; 
	right:50px;
}

.dotOn
{
	background-position: left 0px top 0px;
}

.dotOff
{
	background-position: left 0px top -30px;
}

.navDown
{
	background-position: left 0px top -60px;
}

.navUp
{
	background-position: left 0px top -90px;
}